/NovaMiniTime/bin/Release/NovaMiniTime.application
/NovaMiniTime/bin/Release/NovaMiniTime.exe
/NovaMiniTime/bin/Release/NovaMiniTime.exe.config
/NovaMiniTime/bin/Release/NovaMiniTime.exe.manifest
/NovaMiniTime/bin/Release/NovaMiniTime.pdb
/NovaMiniTime/bin/Release/NovaMiniTime.vshost.application
/NovaMiniTime/bin/Release/NovaMiniTime.vshost.exe
/NovaMiniTime/bin/Release/NovaMiniTime.vshost.exe.config
/NovaMiniTime/bin/Release/NovaMiniTime.vshost.exe.manifest
/NovaMiniTime/bin/Release/app.publish/NovaMiniTime.exe
/NovaMiniTime/obj/Debug/Common.cs
/NovaMiniTime/obj/Debug/Costura/3E87C106A23B64B3AEE4FBF59569695CA77C0CCE.costura.microsoft.projectserver.client.dll.zip
/NovaMiniTime/obj/Debug/Costura/48125D3AC8A0064815A1F142DEEFBA0DCF8EA731.costura.microsoft.sharepoint.client.search.dll.zip
/NovaMiniTime/obj/Debug/Costura/4A56472D0A6E3598909AE0E9CEB769DFF0CE2AA5.costura.microsoft.sharepoint.client.taxonomy.dll.zip
/NovaMiniTime/obj/Debug/Costura/4BDEEBB49C97C233D479E33180010CA79F2ED098.costura.microsoft.sharepoint.client.dll.zip
/NovaMiniTime/obj/Debug/Costura/62E64789A1AABE86F54E943BB8983DDDBFA8B050.costura.microsoft.sharepoint.client.userprofiles.dll.zip
/NovaMiniTime/obj/Debug/Costura/7610C73FA6E54A96220DABB6158DAED0EE1B6975.costura.microsoft.sharepoint.client.publishing.dll.zip
/NovaMiniTime/obj/Debug/Costura/7C5C19EC7609A30B979A877F95F3ADA9F50D99C8.costura.microsoft.sharepoint.client.runtime.dll.zip
/NovaMiniTime/obj/Debug/Costura/80203FF7C11490DCBF48389B1582C458A23107D4.costura.microsoft.sharepoint.client.workflowservices.dll.zip
/NovaMiniTime/obj/Debug/Costura/83D49B323C34CC9A3ECB99BC5668A14735015972.costura.microsoft.office.sharepoint.tools.dll.zip
/NovaMiniTime/obj/Debug/Costura/CA044DF7477E1C7DA4B1025C8CF64D6C2CC5047B.costura.microsoft.office.client.policy.dll.zip
/NovaMiniTime/obj/Debug/Costura/D7B547CBD2D253578EC8879E01A4E3603C3B1099.costura.microsoft.sharepoint.client.search.applications.dll.zip
/NovaMiniTime/obj/Debug/Costura/DC3DED9EBD90492530EA9C63397111466691F61B.costura.microsoft.sharepoint.client.documentmanagement.dll.zip
/NovaMiniTime/obj/Debug/Costura/EA8FF81A8FCBB2AB9386CA91CDFA1226C64F0653.costura.microsoft.online.sharepoint.client.tenant.dll.zip
/NovaMiniTime/obj/Debug/Costura/EB63A27FF39BEF719ABAA444F0E310087FD014A2.costura.microsoft.sharepoint.client.runtime.windows.dll.zip
/NovaMiniTime/obj/Debug/Costura/FACB42C6ECEFBF64ED144BF44DC07D0F82C1A9DC.costura.microsoft.office.client.translationservices.dll.zip
/NovaMiniTime/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NovaMiniTime/obj/Debug/ILTemplate.cs
/NovaMiniTime/obj/Debug/NovaMiniTime.application
/NovaMiniTime/obj/Debug/NovaMiniTime.csproj.FileListAbsolute.txt
/NovaMiniTime/obj/Debug/NovaMiniTime.csprojResolveAssemblyReference.cache
/NovaMiniTime/obj/Debug/NovaMiniTime.exe
/NovaMiniTime/obj/Debug/NovaMiniTime.exe.manifest
/NovaMiniTime/obj/Debug/NovaMiniTime.pdb
/NovaMiniTime/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NovaMiniTime/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NovaMiniTime/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NovaMiniTime/obj/Release/Common.cs
/NovaMiniTime/obj/Release/Costura/3E87C106A23B64B3AEE4FBF59569695CA77C0CCE.costura.microsoft.projectserver.client.dll.zip
/NovaMiniTime/obj/Release/Costura/48125D3AC8A0064815A1F142DEEFBA0DCF8EA731.costura.microsoft.sharepoint.client.search.dll.zip
/NovaMiniTime/obj/Release/Costura/4A56472D0A6E3598909AE0E9CEB769DFF0CE2AA5.costura.microsoft.sharepoint.client.taxonomy.dll.zip
/NovaMiniTime/obj/Release/Costura/4BDEEBB49C97C233D479E33180010CA79F2ED098.costura.microsoft.sharepoint.client.dll.zip
/NovaMiniTime/obj/Release/Costura/62E64789A1AABE86F54E943BB8983DDDBFA8B050.costura.microsoft.sharepoint.client.userprofiles.dll.zip
/NovaMiniTime/obj/Release/Costura/7610C73FA6E54A96220DABB6158DAED0EE1B6975.costura.microsoft.sharepoint.client.publishing.dll.zip
/NovaMiniTime/obj/Release/Costura/7C5C19EC7609A30B979A877F95F3ADA9F50D99C8.costura.microsoft.sharepoint.client.runtime.dll.zip
/NovaMiniTime/obj/Release/Costura/80203FF7C11490DCBF48389B1582C458A23107D4.costura.microsoft.sharepoint.client.workflowservices.dll.zip
/NovaMiniTime/obj/Release/Costura/83D49B323C34CC9A3ECB99BC5668A14735015972.costura.microsoft.office.sharepoint.tools.dll.zip
/NovaMiniTime/obj/Release/Costura/CA044DF7477E1C7DA4B1025C8CF64D6C2CC5047B.costura.microsoft.office.client.policy.dll.zip
/NovaMiniTime/obj/Release/Costura/D7B547CBD2D253578EC8879E01A4E3603C3B1099.costura.microsoft.sharepoint.client.search.applications.dll.zip
/NovaMiniTime/obj/Release/Costura/DC3DED9EBD90492530EA9C63397111466691F61B.costura.microsoft.sharepoint.client.documentmanagement.dll.zip
/NovaMiniTime/obj/Release/Costura/EA8FF81A8FCBB2AB9386CA91CDFA1226C64F0653.costura.microsoft.online.sharepoint.client.tenant.dll.zip
/NovaMiniTime/obj/Release/Costura/EB63A27FF39BEF719ABAA444F0E310087FD014A2.costura.microsoft.sharepoint.client.runtime.windows.dll.zip
/NovaMiniTime/obj/Release/Costura/EFBF4C64022CD44BC784EC83E2BDE358990D39B1.costura.system.configuration.dll.zip
/NovaMiniTime/obj/Release/Costura/FACB42C6ECEFBF64ED144BF44DC07D0F82C1A9DC.costura.microsoft.office.client.translationservices.dll.zip
/NovaMiniTime/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NovaMiniTime/obj/Release/ILTemplate.cs
/NovaMiniTime/obj/Release/NovaMiniTime.application
/NovaMiniTime/obj/Release/NovaMiniTime.csproj.FileListAbsolute.txt
/NovaMiniTime/obj/Release/NovaMiniTime.csprojResolveAssemblyReference.cache
/NovaMiniTime/obj/Release/NovaMiniTime.exe
/NovaMiniTime/obj/Release/NovaMiniTime.exe.manifest
/NovaMiniTime/obj/Release/NovaMiniTime.pdb
/NovaMiniTime/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NovaMiniTime/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NovaMiniTime/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Costura.Fody.1.3.3.0/Content/FodyWeavers.xml.install.xdt
/packages/Costura.Fody.1.3.3.0/Content/FodyWeavers.xml.uninstall.xdt
/packages/Costura.Fody.1.3.3.0/Costura.Fody.1.3.3.0.nupkg
/packages/Costura.Fody.1.3.3.0/Costura.Fody.dll
/packages/Costura.Fody.1.3.3.0/Costura.Fody.pdb
/packages/Costura.Fody.1.3.3.0/Tools/commands.psm1
/packages/Costura.Fody.1.3.3.0/Tools/init.ps1
/packages/Fody.1.28.3/Content/FodyWeavers.xml
/packages/Fody.1.28.3/Fody.1.28.3.nupkg
/packages/Fody.1.28.3/Fody.dll
/packages/Fody.1.28.3/Fody.pdb
/packages/Fody.1.28.3/FodyCommon.dll
/packages/Fody.1.28.3/FodyCommon.pdb
/packages/Fody.1.28.3/FodyIsolated.dll
/packages/Fody.1.28.3/FodyIsolated.pdb
/packages/Fody.1.28.3/Mono.Cecil.Mdb.dll
/packages/Fody.1.28.3/Mono.Cecil.Pdb.dll
/packages/Fody.1.28.3/Mono.Cecil.Rocks.dll
/packages/Fody.1.28.3/Mono.Cecil.dll
/packages/Fody.1.28.3/Tools/install.ps1
/packages/Fody.1.28.3/Tools/uninstall.ps1
/packages/Fody.1.28.3/build/Fody.targets
/packages/Microsoft.SharePoint.Client.14.0.4762.1000/Microsoft.SharePoint.Client.14.0.4762.1000.nupkg
/packages/Microsoft.SharePoint.Client.14.0.4762.1000/lib/Microsoft.SharePoint.Client.Runtime.dll
/packages/Microsoft.SharePoint.Client.14.0.4762.1000/lib/Microsoft.SharePoint.Client.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/Microsoft.SharePointOnline.CSOM.16.1.6112.1200.nupkg
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/ps.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.datetimeutil.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.documentmanagement.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.publishing.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.requestexecutor.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.runtime.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.search.apps.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.search.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.taxonomy.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.translation.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.userprofiles.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.workflowservices.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/javascript/sp.workmanagement.js
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.Office.Client.Policy.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.Office.Client.TranslationServices.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.Office.SharePoint.Tools.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.Online.SharePoint.Client.Tenant.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.ProjectServer.Client.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.DocumentManagement.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.Publishing.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.Runtime.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.Search.Applications.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.Search.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.Taxonomy.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.UserProfiles.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.WorkflowServices.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net40-full/Microsoft.SharePoint.Client.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.Office.Client.Policy.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.Office.Client.TranslationServices.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.Office.SharePoint.Tools.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.Online.SharePoint.Client.Tenant.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.ProjectServer.Client.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.DocumentManagement.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.Publishing.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.Runtime.Windows.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.Runtime.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.Search.Applications.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.Search.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.Taxonomy.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.UserProfiles.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.WorkflowServices.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/net45/Microsoft.SharePoint.Client.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.Office.Client.Policy.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.Office.Client.TranslationServices.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.ProjectServer.Client.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.DocumentManagement.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Publishing.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Runtime.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Runtime.WindowsStore.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Search.Applications.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Search.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.Taxonomy.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.UserProfiles.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/netcore45/Microsoft.SharePoint.Client.WorkflowServices.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.Office.Client.Policy.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.Office.Client.TranslationServices.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.ProjectServer.Client.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.DocumentManagement.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.Publishing.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.Runtime.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.Search.Applications.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.Search.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.Taxonomy.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.UserProfiles.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/portable-net45+netcore45+wpa81/Microsoft.SharePoint.Client.WorkflowServices.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.Office.Client.Policy.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.Office.Client.TranslationServices.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.ProjectServer.Client.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.DocumentManagement.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Publishing.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Runtime.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Runtime.WindowsPhone.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Search.Applications.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Search.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.Taxonomy.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.UserProfiles.Portable.dll
/packages/Microsoft.SharePointOnline.CSOM.16.1.6112.1200/lib/wpa/Microsoft.SharePoint.Client.WorkflowServices.Portable.dll
